
<p>
<mat-toolbar  color="primary">
     
       
       
      <span class="example-spacer"></span>
      <button mat-raised-button (click)="userManagement()">User Management</button>
      <span class="example-spacer"></span>
<button mat-raised-button (click)="maintenancePayment()">Maintenance Payment</button>
<span class="example-spacer"></span>
<button mat-raised-button (click)="maintenanceReport()">Maintenance Report</button>
<span class="example-spacer"></span>
<button mat-raised-button (click)="maintenanceList()">Maintenance List</button>

<span class="example-spacer"></span>
<button mat-raised-button (click)="GenerateMaintReceipt()">Generate Maintenance Receipt</button>



  
  </mat-toolbar>
  </p>
  
  
  <router-outlet></router-outlet>
  