


<head>
<script type="text/javascript" src="libs/png_support/zlib.js"></script>
<script type="text/javascript" src="libs/png_support/png.js"></script>
<script type="text/javascript" src="jspdf.plugin.addimage.js"></script>
<script type="text/javascript" src="jspdf.plugin.png_support.js"></script>
<script type="text/javascript" src="jspdf.js"></script>

</head>
<table border="0" [cellPadding]="1" [cellSpacing]="0"  id="maintenanceReport" >
    

    
      
     
    
    
    <tbody>
        <tr>
            <td  colspan="2">
        <img src="/assets/img/ganapatiji.png" alt="image"  width="50" 
        height="50"> <h5>|| Shree Ganeshay Namah ||</h5></td>
    </tr>
    <tr>
        <td colspan="2">
            <h1><p> Chintamani Sankul Co-operative Housing Society Ltd. </p></h1> </td>
    </tr>
    <tr>
        <td colspan="2">
                <h5><p><b>sr No. 173/3B, Bhekarai Nagar , Phursungi, Pune -412308 </b></p></h5>
       </td>
    </tr>
    <tr>
        <td colspan="2">      <h5><p><b>Regd. No. PNA/PNA(4)/HSG/(TC)/14830/Year 2013-14</b></p></h5> </td>


    </tr> 

    
        <tr>
            <td colspan="2" align="center"><p> <B>Payment Receipt</B> </p>
                </td>
                </tr>
     <tr>
        <td>Receipt No : 56578</td>

      <td>Date : 28/05/2023</td>


    </tr>

    <tr>
        <td> Received Thanks From </td> <td> Shree Yogesh Bariya </td>
    </tr>
    <tr>
        <td> Wing-FlatNo </td> <td> E1 </td>
    </tr>

    <tr>
        <td> the Sum of Rupees  </td> <td> <u>Five Thousand Five Hundred Rs Only</u> </td>
    </tr>

    <tr>
        <td> For Monthly Maintenace from  </td> <td> <u>April 2023 to Sep 2023</u> </td>
    </tr>

    <tr>
        <td> Online Payment   </td> <td> <u>Date: 17/04/2023</u> </td>
    </tr>

    <tr>
        <td> Reference No   </td> <td> <u>65767757</u> </td>
    </tr>

    <tr>
        <td> Rs 5500  </td> <td> <u></u> </td>
    </tr>

    <tr>
        <td>For Chintamani Sankul</td><td>      </td>
    </tr>

    <tr>
        <td><h4>This is non Refundable Payment</h4></td>
    </tr>

    <tr>
        <td><h4>This is Computer generated. Signature is not required</h4></td>
    </tr>



    </tbody>

</table>

<button mat-raised-button color="primary" (click)="generatePdfReport()" >DownLoad PDF</button>